.Post {
  margin: 10px;
}

header {
  height: 50px;
  background: #f9f9f9;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.icon-user {
  font-size: 40px;
  color: #ff6377;
  margin: 10px;
}
.card-img-top {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 0;
  transition: all .2s ease-in;
}

.card-img-top:hover {
  transform: scale(0.95);

}

.card-text-title {
  font-family: 'Handlee', cursive;
  font-size: 18px;
}

.icon {
  color: #ff6377;
  font-size: 20px;
}

.card-body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
