.Header {
  width:100%;
  position:fixed;
  z-index: 10;
  font-family: 'Carter One', cursive;
  font-size: 20px;
  border-bottom: #fff3f3 5px dashed;
}

.navbar-link {
  text-shadow: 2px 2px 4px #ffa6b5;
  transition: all .2s ease-in-out;
  text-decoration: none;
  color: black;
  padding-left: 15px;
}

.navbar-link:hover {
  transform: scale(1.05);
  text-decoration: none;
  color: black;
}

.login-register {
  display: flex;
  align-items: flex-end;
}

