.Header {
  width:100%;
  position:fixed;
  z-index: 10;
  font-family: 'Carter One', cursive;
  font-size: 20px;
}

.nav-link {
  text-shadow: 2px 2px 4px #ffa6b5;
  transition: all .2s ease-in-out;
}

.nav-link:hover {
  transform: scale(1.05);
}