.TagList .tag {
  background-image: linear-gradient(to bottom right, #ff6377, #ffd4cd);
  margin-right: 5px;
  padding: 4px 6px;
  display: inline-block;
  color: #fffbff;
  font-size: 12px;
  border-radius: 5px;
  font-family: 'Courgette', cursive;
  font-size: 15px;
}