.TagList .tag {
  background: #ff6377;
  margin-right: 5px;
  padding: 4px 6px;
  display: inline-block;
  color: #fffbff;
  font-size: 12px;
  border-radius: 5px;
  font-family: 'Courgette', cursive;
  font-size: 15px;
}