.Register {
  position: relative;
  top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.col-xs-8.col-sm-6 {
  background-color: rgba(255, 243, 243, 0.8);
  padding: 20px;
  border: white 2px dashed;
  border-radius: 10px;
  font-family: 'Handlee', cursive;
  margin: 0;
}